In [1]:
# Importing lib
import numpy as np # linear algebra
import pandas as pd # data processing etc
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
import string
import random
import json
import pickle

In [2]:
# reading dataset
hr=pd.read_csv(r'C:\Users\pskj0\Desktop\HR\H2HBABBA2869.csv')

In [3]:
#show dataset
hr

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200143162,T & R foundation,2019-07-02 00:00:00,2019.0,1.929478e+09,2019-06-13,20190612,20190613,20190628.0,USD,RV,1.0,NaN,23665.09,20190613.0,NAA8,1.929478e+09,0
1,U001,0200744019,TARG,2019-09-03 00:00:00,2019.0,1.929750e+09,2019-08-16,20190815,20190816,20190831.0,USD,RV,1.0,NaN,3165.74,20190816.0,NAA8,1.929750e+09,0
2,U001,0200744019,TARG,2019-08-02 00:00:00,2019.0,1.929634e+09,2019-07-18,20190718,20190718,20190802.0,USD,RV,1.0,NaN,3276.47,20190718.0,NAA8,1.929634e+09,0
3,CA02,0140104429,COSTCO co,NaN,2020.0,2.960622e+09,2020-03-21,20200321,20200321,20200403.0,CAD,RV,1.0,NaN,9558.51,20200324.0,CA10,2.960622e+09,1
4,CA02,0140104440,SO llc,2019-12-23 00:00:00,2019.0,2.960599e+09,2019-12-05,20191205,20191205,20191215.0,CAD,RV,1.0,NaN,201879.91,20191205.0,CA10,2.960599e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200705742,DOT foundation,2020-03-11 00:00:00,2020.0,1.930567e+09,2020-02-25,20200225,20200225,20200311.0,USD,RV,1.0,NaN,2125.66,20200225.0,NAA8,1.930567e+09,0
49996,CA02,0140104340,COLABOR corp,2019-05-09 00:00:00,2019.0,2.960544e+09,2019-04-24,20190424,20190424,20190505.0,CAD,RV,1.0,NaN,32110.41,20190425.0,CA10,2.960544e+09,0
49997,CA02,0140104440,SO foundation,2019-11-25 00:00:00,2019.0,2.960592e+09,2019-11-07,20191107,20191107,20191118.0,CAD,RV,1.0,NaN,50778.56,20191108.0,CA10,2.960592e+09,0
49998,U001,0200152991,JET corp,2019-12-17 00:00:00,2019.0,1.930199e+09,2019-11-27,20191127,20191127,20191217.0,USD,RV,1.0,NaN,1840.17,20191127.0,NAD1,1.930199e+09,0
49999,U001,0200799367,MCL foundation,2019-03-29 00:00:00,2019.0,1.928950e+09,2019-03-13,20190312,20190313,20190328.0,USD,RV,1.0,NaN,84857.71,20190313.0,NAA8,1.928950e+09,0

In [4]:
# Top 5 rows from dataset
hr.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200143162,T & R foundation,2019-07-02 00:00:00,2019.0,1.929478e+09,2019-06-13,20190612,20190613,20190628.0,USD,RV,1.0,NaN,23665.09,20190613.0,NAA8,1.929478e+09,0
1,U001,0200744019,TARG,2019-09-03 00:00:00,2019.0,1.929750e+09,2019-08-16,20190815,20190816,20190831.0,USD,RV,1.0,NaN,3165.74,20190816.0,NAA8,1.929750e+09,0
2,U001,0200744019,TARG,2019-08-02 00:00:00,2019.0,1.929634e+09,2019-07-18,20190718,20190718,20190802.0,USD,RV,1.0,NaN,3276.47,20190718.0,NAA8,1.929634e+09,0
3,CA02,0140104429,COSTCO co,NaN,2020.0,2.960622e+09,2020-03-21,20200321,20200321,20200403.0,CAD,RV,1.0,NaN,9558.51,20200324.0,CA10,2.960622e+09,1
4,CA02,0140104440,SO llc,2019-12-23 00:00:00,2019.0,2.960599e+09,2019-12-05,20191205,20191205,20191215.0,CAD,RV,1.0,NaN,201879.91,20191205.0,CA10,2.960599e+09,0

In [5]:
#fetching columns
hr.columns

Index(['business_code', 'cust_number', 'name_customer', 'clear_date',
       'buisness_year', 'doc_id', 'posting_date', 'document_create_date',
       'document_create_date.1', 'due_in_date', 'invoice_currency',
       'document type', 'posting_id', 'area_business', 'total_open_amount',
       'baseline_create_date', 'cust_payment_terms', 'invoice_id', 'isOpen'],
      dtype='object')

In [6]:
hr.dtypes

business_code              object
cust_number                object
name_customer              object
clear_date                 object
buisness_year             float64
doc_id                    float64
posting_date               object
document_create_date        int64
document_create_date.1      int64
due_in_date               float64
invoice_currency           object
document type              object
posting_id                float64
area_business             float64
total_open_amount         float64
baseline_create_date      float64
cust_payment_terms         object
invoice_id                float64
isOpen                      int64
dtype: object

In [7]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   buisness_year           50000 non-null  float64
 5   doc_id                  50000 non-null  float64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  float64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  float64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49996 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.2+ MB

In [8]:
hr.isnull().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                10000
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             50000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    4
isOpen                        0
dtype: int64

In [9]:
hr.isnull().mean()

business_code             0.00000
cust_number               0.00000
name_customer             0.00000
clear_date                0.20000
buisness_year             0.00000
doc_id                    0.00000
posting_date              0.00000
document_create_date      0.00000
document_create_date.1    0.00000
due_in_date               0.00000
invoice_currency          0.00000
document type             0.00000
posting_id                0.00000
area_business             1.00000
total_open_amount         0.00000
baseline_create_date      0.00000
cust_payment_terms        0.00000
invoice_id                0.00008
isOpen                    0.00000
dtype: float64

In [10]:
# whereever clear_date not null put into train data frame 
train = hr.loc[hr['clear_date'].notnull()]
train.shape

(40000, 19)

In [11]:
# whereever clear_date is null put into test data frame 
test = hr.loc[hr.clear_date.isnull()]
test.shape

(10000, 19)

In [12]:
#taken for checking dataframe
temp_test_hr = hr.loc[hr.clear_date.isnull()]
temp_test_hr.shape

(10000, 19)

In [13]:
#check for null values in train dataset 
train.isnull().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                    0
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             40000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    4
isOpen                        0
dtype: int64

In [14]:
# Check the percentage of Nan in dataset
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train['area_business'].count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                        Total  Percent
area_business           40000      inf
invoice_id                  4      inf
business_code               0      NaN
invoice_currency            0      NaN
cust_payment_terms          0      NaN
baseline_create_date        0      NaN
total_open_amount           0      NaN
posting_id                  0      NaN
document type               0      NaN
due_in_date                 0      NaN
cust_number                 0      NaN
document_create_date.1      0      NaN
document_create_date        0      NaN
posting_date                0      NaN
doc_id                      0      NaN
buisness_year               0      NaN
clear_date                  0      NaN
name_customer               0      NaN
isOpen                      0      NaN

In [20]:
#area_business column is full of null value and invoice_id has no use for training . so drop it
train.drop(columns=['area_business','invoice_id'],inplace=True)
train.isnull().sum()

C:\Users\pskj0\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

business_code             0
cust_number               0
name_customer             0
clear_date                0
buisness_year             0
doc_id                    0
posting_date              0
document_create_date      0
document_create_date.1    0
due_in_date               0
invoice_currency          0
document type             0
posting_id                0
total_open_amount         0
baseline_create_date      0
cust_payment_terms        0
isOpen                    0
dtype: int64

In [21]:
#sort the train data according to document_create_date.1
train.sort_values(['document_create_date.1'],inplace=True)
train.reset_index(inplace=True,drop=True)
train.head()

<ipython-input-21-c5b1ec83635a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.sort_values(['document_create_date.1'],inplace=True)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,0200726979,BJ'S corp,2019-01-15 00:00:00,2019.0,1.928541e+09,2018-12-30,20181229,20181230,20190114.0,USD,RV,1.0,89.75,20181230.0,NAA8,0
1,U001,0200769623,WAL-MAR in,2019-01-10 00:00:00,2019.0,1.928542e+09,2018-12-30,20181229,20181230,20190114.0,USD,RV,1.0,27535.78,20181230.0,NAH4,0
2,U001,0200769623,WAL-MAR trust,2019-01-09 00:00:00,2019.0,1.928543e+09,2018-12-30,20181230,20181230,20190114.0,USD,RV,1.0,59859.24,20181230.0,NAH4,0
3,U013,0140103311,GLOBA foundation,2019-01-29 00:00:00,2019.0,1.991820e+09,2018-12-30,20181226,20181230,20190129.0,USD,RV,1.0,1778.56,20181230.0,NAVE,0
4,U001,0200769623,WAL-MAR llc,2019-01-15 00:00:00,2019.0,1.928540e+09,2018-12-30,20181229,20181230,20190114.0,USD,RV,1.0,5148.96,20181230.0,NAH4,0

### Now lets remove datetime ambiguity

In [23]:
hr.dtypes

business_code              object
cust_number                object
name_customer              object
clear_date                 object
buisness_year             float64
doc_id                    float64
posting_date               object
document_create_date        int64
document_create_date.1      int64
due_in_date               float64
invoice_currency           object
document type              object
posting_id                float64
area_business             float64
total_open_amount         float64
baseline_create_date      float64
cust_payment_terms         object
invoice_id                float64
isOpen                      int64
dtype: object

In [27]:
# Converting time columns to pandas special datetime format 
hr['clear_date']=pd.to_datetime(hr.clear_date)

In [31]:
# checking data-type for clear date column
hr.dtypes

business_code                     object
cust_number                       object
name_customer                     object
clear_date                datetime64[ns]
buisness_year                    float64
doc_id                           float64
posting_date                      object
document_create_date               int64
document_create_date.1             int64
due_in_date                      float64
invoice_currency                  object
document type                     object
posting_id                       float64
area_business                    float64
total_open_amount                float64
baseline_create_date             float64
cust_payment_terms                object
invoice_id                       float64
isOpen                             int64
dtype: object

In [38]:
# Checking the date time format for clear_date
hr.head(5)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200143162,T & R foundation,2019-07-02,2019.0,1.929478e+09,2019-06-13,20190612,20190613,20190628.0,USD,RV,1.0,NaN,23665.09,20190613.0,NAA8,1.929478e+09,0
1,U001,0200744019,TARG,2019-09-03,2019.0,1.929750e+09,2019-08-16,20190815,20190816,20190831.0,USD,RV,1.0,NaN,3165.74,20190816.0,NAA8,1.929750e+09,0
2,U001,0200744019,TARG,2019-08-02,2019.0,1.929634e+09,2019-07-18,20190718,20190718,20190802.0,USD,RV,1.0,NaN,3276.47,20190718.0,NAA8,1.929634e+09,0
3,CA02,0140104429,COSTCO co,NaT,2020.0,2.960622e+09,2020-03-21,20200321,20200321,20200403.0,CAD,RV,1.0,NaN,9558.51,20200324.0,CA10,2.960622e+09,1
4,CA02,0140104440,SO llc,2019-12-23,2019.0,2.960599e+09,2019-12-05,20191205,20191205,20191215.0,CAD,RV,1.0,NaN,201879.91,20191205.0,CA10,2.960599e+09,0

In [39]:
hr.tail(20)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
49980,U001,0200337148,COAS corp,2019-11-27,2019.0,1.930145e+09,2019-11-12,20191112,20191112,20191127.0,USD,RV,1.0,NaN,130858.92,20191112.0,NAA8,1.930145e+09,0
49981,U001,0200769623,WAL-MAR us,2019-06-07,2019.0,1.929383e+09,2019-05-28,20190526,20190528,20190612.0,USD,RV,1.0,NaN,15409.33,20190528.0,NAH4,1.929383e+09,0
49982,U001,0200759878,SA llc,2019-07-05,2019.0,1.929510e+09,2019-06-18,20190618,20190618,20190703.0,USD,RV,1.0,NaN,21721.10,20190618.0,NAH4,1.929510e+09,0
49983,CA02,0140104429,COSTCO,2019-05-24,2019.0,2.960545e+09,2019-05-10,20190510,20190510,20190521.0,CAD,RV,1.0,NaN,65580.06,20190511.0,CA10,2.960545e+09,0
49984,U001,0200230690,DECA corp,2019-09-16,2019.0,1.929855e+09,2019-09-10,20190910,20190910,20190924.0,USD,RV,1.0,NaN,6895.50,20190901.0,NAM4,1.929855e+09,0
49985,U001,0100021540,MASTER us,2019-02-25,2019.0,1.928780e+09,2019-02-13,20190211,20190213,20190223.0,USD,RV,1.0,NaN,37466.70,20190213.0,NA10,1.928780e+09,0
49986,U013,0140101682,SUPERVAL trust,2019-11-22,2019.0,1.991833e+09,2019-10-12,20191008,20191012,20191111.0,USD,RV,1.0,NaN,8788.33,20191012.0,NAVE,1.991833e+09,0
49987,U001,0200707822,PUBLI corp,NaT,2020.0,1.930672e+09,2020-03-19,20200319,20200319,20200403.0,USD,RV,1.0,NaN,126930.05,20200319.0,NAA8,1.930672e+09,1
49988,U001,0200777735,NASH us,2019-09-05,2019.0,1.929771e+09,2019-08-22,20190821,20190822,20191026.0,USD,RV,1.0,NaN,5113.17,20190822.0,NAGD,1.929771e+09,0
49989,U001,0200920735,ALBERT llc,2019-12-19,2019.0,1.930220e+09,2019-12-04,20191205,20191204,20191219.0,USD,RV,1.0,NaN,67043.26,20191204.0,NAA8,1.930220e+09,0
49990,U001,0200784489,GE in,2019-08-09,2019.0,1.929663e+09,2019-07-25,20190725,20190725,20190809.0,USD,RV,1.0,NaN,21391.53,20190725.0,NAA8,1.929663e+09,0
49991,U001,CCCA02,KRAFT llc,2020-03-27,2020.0,1.930541e+09,2020-02-20,20200218,20200220,20200326.0,USD,RV,1.0,NaN,56785.30,20200220.0,NAG2,1.930541e+09,0
49992,U001,200776463,KROGE trust,2019-04-29,2019.0,1.929137e+09,2019-04-12,20190412,20190412,20190427.0,USD,RV,1.0,NaN,9656.22,20190412.0,NAA8,1.929137e+09,0
49993,U001,0200769623,WAL-MAR co,2019-08-12,2019.0,1.929672e+09,2019-07-30,20190729,20190730,20190814.0,USD,RV,1.0,NaN,48622.44,20190730.0,NAH4,1.929672e+09,0
49994,U001,0200759878,SA corporation,NaT,2020.0,1.930733e+09,2020-04-04,20200402,20200404,20200419.0,USD,RV,1.0,NaN,16929.42,20200404.0,NAH4,1.930733e+09,1
49995,U001,0200705742,DOT foundation,2020-03-11,2020.0,1.930567e+09,2020-02-25,20200225,20200225,20200311.0,USD,RV,1.0,NaN,2125.66,20200225.0,NAA8,1.930567e+09,0
49996,CA02,0140104340,COLABOR corp,2019-05-09,2019.0,2.960544e+09,2019-04-24,20190424,20190424,20190505.0,CAD,RV,1.0,NaN,32110.41,20190425.0,CA10,2.960544e+09,0
49997,CA02,0140104440,SO foundation,2019-11-25,2019.0,2.960592e+09,2019-11-07,20191107,20191107,20191118.0,CAD,RV,1.0,NaN,50778.56,20191108.0,CA10,2.960592e+09,0
49998,U001,0200152991,JET corp,2019-12-17,2019.0,1.930199e+09,2019-11-27,20191127,20191127,20191217.0,USD,RV,1.0,NaN,1840.17,20191127.0,NAD1,1.930199e+09,0
49999,U001,0200799367,MCL foundation,2019-03-29,2019.0,1.928950e+09,2019-03-13,20190312,20190313,20190328.0,USD,RV,1.0,NaN,84857.71,20190313.0,NAA8,1.928950e+09,0

In [53]:
# convert buisness_year to integer using apply(int)
hr['buisness_year'] = hr['buisness_year'].apply(int)
hr.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,"(buisness_year,)"
0,U001,0200143162,T & R foundation,2019-07-02,2019,1.929478e+09,2019-06-13,20190612,20190613,20190628.0,USD,RV,1.0,NaN,23665.09,20190613.0,NAA8,1.929478e+09,0,2019
1,U001,0200744019,TARG,2019-09-03,2019,1.929750e+09,2019-08-16,20190815,20190816,20190831.0,USD,RV,1.0,NaN,3165.74,20190816.0,NAA8,1.929750e+09,0,2019
2,U001,0200744019,TARG,2019-08-02,2019,1.929634e+09,2019-07-18,20190718,20190718,20190802.0,USD,RV,1.0,NaN,3276.47,20190718.0,NAA8,1.929634e+09,0,2019
3,CA02,0140104429,COSTCO co,NaT,2020,2.960622e+09,2020-03-21,20200321,20200321,20200403.0,CAD,RV,1.0,NaN,9558.51,20200324.0,CA10,2.960622e+09,1,2020
4,CA02,0140104440,SO llc,2019-12-23,2019,2.960599e+09,2019-12-05,20191205,20191205,20191215.0,CAD,RV,1.0,NaN,201879.91,20191205.0,CA10,2.960599e+09,0,2019

In [55]:
# apply same for Due_in_date keep it as integer this time using astype(int)
hr['due_in_date']= hr['due_in_date'].astype(int)
hr.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,"(buisness_year,)"
0,U001,0200143162,T & R foundation,2019-07-02,2019,1.929478e+09,2019-06-13,20190612,20190613,20190628,USD,RV,1.0,NaN,23665.09,20190613.0,NAA8,1.929478e+09,0,2019
1,U001,0200744019,TARG,2019-09-03,2019,1.929750e+09,2019-08-16,20190815,20190816,20190831,USD,RV,1.0,NaN,3165.74,20190816.0,NAA8,1.929750e+09,0,2019
2,U001,0200744019,TARG,2019-08-02,2019,1.929634e+09,2019-07-18,20190718,20190718,20190802,USD,RV,1.0,NaN,3276.47,20190718.0,NAA8,1.929634e+09,0,2019
3,CA02,0140104429,COSTCO co,NaT,2020,2.960622e+09,2020-03-21,20200321,20200321,20200403,CAD,RV,1.0,NaN,9558.51,20200324.0,CA10,2.960622e+09,1,2020
4,CA02,0140104440,SO llc,2019-12-23,2019,2.960599e+09,2019-12-05,20191205,20191205,20191215,CAD,RV,1.0,NaN,201879.91,20191205.0,CA10,2.960599e+09,0,2019